PORT=3003

https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
PORT=3003
# https://dashboard.stripe.com/test/apikeys
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

#https://dashboard.stripe.com/test/workbench/webhooks
#https://dashboard.stripe.com/test/workbench/webhooks/we_1QUgF92MJV1AHsNKslDEwBPp
#This is signing secret of the webhook
STRIPE_ENDPOINT_SECRET=
